<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyaolang.animal.dao.mapper.AAnimalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangyaolang.animal.dao.entity.AAnimal">
        <id column="id" property="id" />
        <result column="animal_type" property="animalType" />
        <result column="animal_no" property="animalNo" />
        <result column="animal_name" property="animalName" />
        <result column="animal_age" property="animalAge" />
        <result column="animal_img" property="animalImg" />
        <result column="animal_tiltle_img" property="animalTiltleImg" />
        <result column="animal_features" property="animalFeatures" />
        <result column="project_type" property="projectType" />
        <result column="animal_status" property="animalStatus" />
        <result column="animal_money" property="animalMoney" />
        <result column="animal_date" property="animalDate" />
    </resultMap>

    <resultMap id="ListResultMap" type="com.wangyaolang.animal.controller.animal.vo.AnimalInfoVo">
        <id column="id" property="id" />
        <result column="animal_type" property="animalType" />
        <result column="animal_no" property="animalNo" />
        <result column="animal_name" property="animalName" />
        <result column="animal_age" property="animalAge" />
        <result column="project_type" property="projectType" />
        <result column="animal_status" property="animalStatus" />
    </resultMap>

    <!--根据条件查询用户列表 -->
    <select id="getList" resultType="com.wangyaolang.animal.controller.animal.vo.AnimalInfoVo">
        select * from a_animal where 1 =1
        <if test="queryListVo.animalType != null and queryListVo.animalType != ''">
            AND animal_type = #{queryListVo.animalType}
        </if>
        <if test="queryListVo.animalNo != null and queryListVo.animalNo != ''">
            AND animal_no like CONCAT('%',#{queryListVo.animalNo},'%')
        </if>
        <if test="queryListVo.animalName != null and queryListVo.animalName != ''">
            AND animal_name like CONCAT('%',#{queryListVo.animalName},'%')
        </if>
        <if test="queryListVo.animalStatus != null and queryListVo.animalStatus != ''">
            AND animal_status = #{queryListVo.animalStatus}
        </if>
    </select>
</mapper>
