<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyaolang.animal.dao.mapper.AConsumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangyaolang.animal.dao.entity.AConsume">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="consume_date" property="consumeDate" />
        <result column="type" property="type" />
        <result column="money" property="money" />
    </resultMap>

    <select id="getList" resultType="com.wangyaolang.animal.controller.consume.vo.ConsumeInfoVo">
        select
            c.id, c.user_id, u.user_name, c.consume_date, c.type, c.money/100 as money
        from
            a_consume c left join a_user u on c.user_id = u.id
        where 1 = 1
        <if test="queryListVo.consumeDate != null and queryListVo.consumeDate != ''">
            AND consume_date like concat('%', #{queryListVo.consumeDate}, '%')
        </if>
        <if test="queryListVo.userId != null and queryListVo.userId != ''">
            AND c.user_id = #{queryListVo.userId}
        </if>
        <if test="queryListVo.type != null and queryListVo.type != ''">
            AND type = #{queryListVo.type}
        </if>
    </select>
</mapper>
