<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyaolang.animal.dao.mapper.AInterviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangyaolang.animal.dao.entity.AInterview">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_tel" property="userTel" />
        <result column="user_id" property="userId" />
        <result column="adopt_date" property="adoptDate" />
        <result column="adop_animal_id" property="adopAnimalId" />
        <result column="adopt_desc" property="adoptDesc" />
    </resultMap>
</mapper>
