<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyaolang.animal.dao.mapper.ASupportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangyaolang.animal.dao.entity.ASupport">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="animal_id" property="animalId" />
        <result column="help_date" property="helpDate" />
        <result column="help_money" property="helpMoney" />
        <result column="help_desc" property="helpDesc" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="SupportInfoResultMap" type="com.wangyaolang.animal.controller.supprot.vo.SupportInfoVo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="animal_id" property="animalId" />
        <result column="help_date" property="helpDate" />
        <result column="help_money" property="helpMoney" />
        <result column="help_desc" property="helpDesc" />
    </resultMap>

    <!--根据条件查询列表-->
    <select id="getList" resultType="com.wangyaolang.animal.controller.supprot.vo.SupportListVo">
        select s.id, animal_no, animal_name, user_name, help_date, help_money,animal_tiltle_img
        from a_support s left join a_animal a on s.animal_id = a.id left join a_user u on s.user_id = u.id
        where 1 = 1
        <if test="queryListVo.userId != null and queryListVo.userId != ''">
            AND user_id = #{queryListVo.userId}
        </if>
        <if test="queryListVo.helpDate != null and queryListVo.helpDate != ''">
            AND help_date like concat('%',#{queryListVo.helpDate},'%')
        </if>
        <if test="queryListVo.animalNo != null and queryListVo.animalNo != ''">
            AND animal_no like concat('%',#{queryListVo.animalNo},'%')
        </if>
        <if test="queryListVo.animalName != null and queryListVo.animalName != ''">
            AND animal_name like concat('%',#{queryListVo.animalName},'%')
        </if>
        <if test="queryListVo.userName != null and queryListVo.userName != ''">
            AND user_name like concat('%',#{queryListVo.userName},'%')
        </if>
        order by s.id desc
    </select>
</mapper>
