<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyaolang.animal.dao.mapper.AUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangyaolang.animal.dao.entity.AUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="login_pwd" property="loginPwd" />
        <result column="user_tel" property="userTel" />
        <result column="pay_pwd" property="payPwd" />
        <result column="user_age" property="userAge" />
        <result column="user_sex" property="userSex" />
        <result column="user_image" property="userImage" />
        <result column="user_type" property="userType" />
        <result column="user_money" property="userMoney" />
        <result column="expire_time" property="expireTime" />
    </resultMap>
</mapper>
