<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyaolang.animal.dao.mapper.StatisticsMapper">

    <select id="getAnimalTypeNum" resultType="com.wangyaolang.animal.controller.statistics.vo.AnimalTypeVo">
        select
            animal_type as name, count(*) as value
        from
            a_animal
        group by
            animal_type
    </select>

    <select id="getAnimalStatusNum" resultType="com.wangyaolang.animal.controller.statistics.vo.AnimalStatusVo">
        select
            animal_status as status, count(*) as num
        from
            a_animal
        group by
            animal_status
    </select>

    <select id="getMoneyNum" resultType="com.wangyaolang.animal.controller.statistics.vo.MoneyVo">
        SELECT
            consume_date as `date`, type as `type`, sum(money)/100 as sumMoney
        from
            a_consume
        where
            consume_date between DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 6 DAY),'%Y-%m-%d') and DATE_FORMAT(CURDATE(),'%Y-%m-%d')
        group by
            date, type
    </select>
</mapper>
